body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
}

h1 {
    color: #1e2a47;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

/* Container, joka keskittää sisällön */
.container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    margin-top: 20px;
}

/* Select-elementit */
select {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f9fafb;
    font-size: 1rem;
    color: #333;
    transition: border-color ease-in-out 0.3s;
}

select:focus {
    border-color: #007bff;
    outline: none;
}

.amount-input {
    width: 15%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f9fafb;
    font-size: 1rem;
    color: #333;
    transition: border-color ease-in-out 0.3s;
}

button {
    padding: 0.8rem 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Tuloksen ulkoasu */
#result {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.rate-box {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 1rem;
    margin: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 1rem);
    /* Kolme kolmonnekselle per rivi */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.rate-box span {
    font-weight: bold;
    margin-top: 0.5rem;
}

.rate-box img {
    width: 30px;
    height: 20px;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

